/* aside > nav */
aside > nav{
    height: calc(100vh - 64px);
    overflow-y: scroll;
    background-color: white;
    padding: 0px 5px 12px 12px;
    position: fixed;
    top: 64px;
    left: 0px;
}

/* Horizontal Line in sidebar */
aside nav hr{
    height: 1px;
    border-width: 0;
    background-color: rgb(219, 219, 219);
    margin: 15px 0px;
}

/* Sidebar Scrollbar Style */
aside .aside-heading{
    margin: 0;
    padding: 10px 16px 10px 16px;
    font-weight: 500px;
    color: rgb(44, 44, 44);
}

aside nav::-webkit-scrollbar{
    width: 7px;
}

aside nav::-webkit-scrollbar-thumb{
    background: white;
}

aside:hover nav::-webkit-scrollbar-thumb{
    background: rgb(140, 140, 140);
}



/*------- Media Queries ---------*/
@media only screen and (max-width: 1300px) {
    aside{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    aside.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}